@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
main{
  display: flex;
  font-family: 'Roboto Slab', serif;
}
.character-panel{
  background-color: #464646;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  &__navigation{
    display: flex;
    .prev{
      margin: 10px auto auto auto;
      border-radius: 10px;
      height: 90px;
      width: 90px;
      font-size: 24px;
      font-weight: 900;
      font-family: 'Roboto Slab', serif;
    }
    .next{
      margin: 10px auto auto auto;
      border-radius: 10px;
      height: 90px;
      width: 90px;
      font-size: 24px;
      font-weight: 900;
      font-family: 'Roboto Slab', serif;
    }
  }
  &_id{
    width: 400px;
    color: whitesmoke;
    height: 40px;
    font-size: 24px;
    text-align: center;
  }
  &_id:hover{
    background-color: gray;
    cursor: pointer;
  }
}
.character-data{
  display: flex;
  flex-direction: column;
  width: 70%;
  position: fixed;
  margin-left: 400px;
  .name{
    margin: 20px 30px 100px auto;
    font-size: 48px;
  }
  .data{
    margin: 20px auto auto auto;
    width: 400px;
    text-align: left;
    word-wrap: break-word;
  }
}
.active{
  background-color: whitesmoke;
  color: black;
}
